<mat-nav-list  >
  <div class="profile-card">
    <div class="header">
      <h2>E-commerce</h2>
    </div>

  </div>

  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/dashboard"  routerLinkActive="list-item-active">
    <mat-icon >home</mat-icon>
    Home
  </a>

  <mat-divider></mat-divider>

  <a mat-list-item  routerLink="/products" routerLinkActive="list-item-active">
<!--    <mat-icon>layers</mat-icon>-->
    <mat-icon>
      <svg width="32" height="26" ><g fill-rule="nonzero" fill="none">
        <path d="M1 8.667v9.792a1.002 1.002 0 00.6.918l12.38 5.388-.358-10.096L1 8.667zm30.489.294L18 15.245v9.52l12.4-5.397a1 1 0 00.6-.916l.489-9.49z"
              stroke="black"
              stroke-width="2">

        </path>
        <path d="M16 7.333c2.21 0 4 .896 4 2s-1.79 2-4 2-4-.896-4-2 1.79-2 4-2zM16 0c2.21 0 4 .896 4 2s-1.79 2-4 2-4-.896-4-2 1.79-2 4-2zM24.667 3.333c2.209 0 4 .896 4 2s-1.791 2-4 2c-2.21 0-4-.896-4-2s1.79-2 4-2zM8 3.333c2.21 0 4 .896 4 2s-1.79 2-4 2-4-.896-4-2 1.79-2 4-2z"
              fill="black">

        </path>
      </g>
      </svg>
    </mat-icon>
    Products
  </a>
  <mat-divider></mat-divider>

  <a mat-list-item routerLink="/category" routerLinkActive="list-item-active">
    <mat-icon>description</mat-icon>
    Category
  </a>

</mat-nav-list>


