<div class="login-content">
  <mat-card id="content">
    <mat-card-header style="top: 10px">
      <h2>E-Commerce</h2>
      <h3>Welcome back! Please Login to Continue</h3>

    </mat-card-header>
    <mat-card-content>
      <form  [formGroup]="loginForm">
        <table cellspacing="0" class="example-full-width" >
          <tr >
            <td>
              <mat-form-field class="example-full-width" appearance="outline" >
                <mat-icon matPrefix  color = "#FFFFFF">mail_outline</mat-icon>
                <mat-label >Email</mat-label>
                <input formControlName="email"   matInput  placeholder="Email"  type="email">

                <mat-error *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
                  <span *ngIf="loginForm.controls.email.errors?.required">Please provide a valid email address</span>
                </mat-error>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-icon matPrefix >lock_outline</mat-icon>
                <mat-label>Password</mat-label>
                <input formControlName="password" #password matInput placeholder="Password"  type="password">
                <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                  <span *ngIf="loginForm.controls.password.errors?.required">Please provide a valid password</span>
                </mat-error>
              </mat-form-field>
            </td>

          </tr>

        </table>

        <br>
        <table>
          <tr>
            <td>
              <p><mat-checkbox></mat-checkbox>  Remember Me</p>
            </td>
            <td>
              <p>Forgotten Password?</p>

            </td>
          </tr>
        </table>

      </form>
    </mat-card-content>

    <mat-card-actions>
      <button [disabled]="!loginForm.valid" (click)="userLogin()" mat-raised-button type="submit">Sign in</button>
    </mat-card-actions>

  </mat-card>
  <p id="page_new">New to E-commerce? <a routerlink="">Sign Up</a></p>
</div>
